.main {
  text-align: center;
  padding: 6rem;
  min-height: 100vh;
  @media all and (min-width: 768px) and (max-width: 1024px) {
    padding: 2rem;
  }
  @media only screen and (max-width: 767px) {
    padding: 0;
  }
  .title {
    margin-bottom: 20px;
  }
}
